<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.egit.ui.RepositoriesView?after=branch">
         <menu
               label="%TeamGitFlowMenu.name">
            <command
                  commandId="org.eclipse.egit.gitflow.ui.command.init"
                  label="%TeamGitFlowInit.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.egit.ui.repositoryTreePathNode">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.egit.gitflow.ui.command.featureStart"
                  label="%TeamGitFlowFeatureStart.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.egit.ui.repositoryTreePathNode">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.egit.gitflow.ui.command.featureFinish"
                  label="%TeamGitFlowFeatureFinish.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.egit.ui.repositoryTreePathNode">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.egit.gitflow.ui.command.releaseStart"
                  label="%TeamGitFlowReleaseStart.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.egit.ui.repositoryTreePathNode">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.egit.gitflow.ui.command.releaseFinish"
                  label="%TeamGitFlowReleaseFinish.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.egit.ui.repositoryTreePathNode">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.egit.ui.commandCategory"
            id="org.eclipse.egit.gitflow.ui.command.init"
            name="%TeamGitFlowInit.name">
      </command>
      <command
            id="org.eclipse.egit.gitflow.ui.command.featureStart"
            name="%TeamGitFlowFeatureStart.name">
      </command>
      <command
            id="org.eclipse.egit.gitflow.ui.command.featureFinish"
            name="%TeamGitFlowFeatureFinish.name">
      </command>
      <command
            id="org.eclipse.egit.gitflow.ui.command.releaseStart"
            name="%TeamGitFlowReleaseStart.name">
      </command>
      <command
            id="org.eclipse.egit.gitflow.ui.command.releaseFinish"
            name="%TeamGitFlowReleaseFinish.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.egit.gitflow.ui.command.init">
         <class
               class="org.eclipse.egit.gitflow.ui.internal.actions.InitHandler">
         </class>
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.egit.ui.internal.repository.tree.RepositoryTreeNode">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.egit.gitflow.ui.command.featureStart">
         <class
               class="org.eclipse.egit.gitflow.ui.internal.actions.FeatureStartHandler">
         </class>
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.egit.ui.internal.repository.tree.RepositoryTreeNode">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.egit.gitflow.ui.command.featureFinish">
         <class
               class="org.eclipse.egit.gitflow.ui.internal.actions.FeatureFinishHandler">
         </class>
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.egit.ui.internal.repository.tree.RepositoryTreeNode">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.egit.gitflow.ui.command.releaseStart">
         <class
               class="org.eclipse.egit.gitflow.ui.internal.actions.ReleaseStartHandler">
         </class>
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.egit.ui.internal.repository.tree.RepositoryTreeNode">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.egit.gitflow.ui.command.releaseFinish">
         <class
               class="org.eclipse.egit.gitflow.ui.internal.actions.ReleaseFinishHandler">
         </class>
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.egit.ui.internal.repository.tree.RepositoryTreeNode">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
   </extension>


</plugin>
